/DigitalClockComponetTest/nbproject/private/
/DigitalClockComponetTest/build/
/DigitalClockTestComponent/nbproject/private/
/DigitalClock/build/
/DigitalClock/dist/
/DigitalClocComponentDemo/nbproject/private/
/ClockComponentDemo/nbproject/private/
